  <footer id="footer">
    <nav>
      <ul>
        <li><span>Resplice</span></li>
        <li>
          <a href="https://www.capabit.com">Capabit</a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAeyp7qAP6dOvAq0zHEQ8G6U94lwzz7MxYCJF-NEd87JJqEw/viewform">Beta</a>
        </li>
          <li>
          <a href="/faq/">FAQ</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Capabit Solutions LLC. All Rights Reserved.</p>
  </footer>